.carousel-item img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.text-section {
  text-align: center;
  margin-top: 20px;
}

.text-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-section p {
  font-size: 16px;
  line-height: 1.5;
}
