{% extends 'base.html' %}

{% block title %}
About us.
{% endblock %}

{% block main %}
 <div class="container py-5">
    <h1 class="text-center">About Food Camp</h1>
    <p class="lead">Food Camp is a website dedicated to exploring and celebrating the diverse cuisines and dishes from
      around the world. We believe that food is not only a source of sustenance but also a cultural expression and a way
      to connect people from different backgrounds.</p>
    <p>On this website, you will find a collection of articles, recipes, and information about various types of food,
      cooking techniques, and culinary traditions. Whether you are a seasoned chef or a food enthusiast looking to
      expand your culinary knowledge, Food Camp has something for everyone.</p>
    <p>Join us on a gastronomic journey as we explore the flavors, ingredients, and stories behind some of the most
      iconic dishes from different countries and regions. Discover new recipes, learn about traditional cooking methods,
      and get inspired to try your hand at creating delicious meals in your own kitchen.</p>
    <p>At Food Camp, we believe that food has the power to bring people together, foster cultural understanding, and
      create memorable experiences. We invite you to join our community, share your own culinary experiences, and
      celebrate the joys of good food.</p>
  </div>

  <footer class="bg-dark text-white text-center py-4">
    <div class="container">
      <span>&copy; 2023 Food Camp. All rights reserved.</span>
    </div>
  </footer>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}