<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src *;">  -->
    <!-- ; img-src * ; style-src * ; script-src * 'unsafe-inline' 'unsafe-eval' -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/icon/icon.png">

    {% block import %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container" style="margin-bottom: 50px">
        <hr>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="{{ url_for('food') }}" class="nav-link px-2 text-black">All dishes</a></li>
                <li><a href="{{ url_for('countries') }}" class="nav-link px-2 text-black">Countries</a></li>
                <li><a href="{{ url_for('category') }}" class="nav-link px-2 text-black">Categories</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('favourites') }}" class="nav-link px-2 text-black">Favourites</a></li>
                {% endif %}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{{ url_for('search')}}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="search" class="form-control form-control-dark text-bg-dark"
                    placeholder="Search dishes..." aria-label="Search" id="searchInput" name="searchInput">
            </form>

            {% if not current_user.is_authenticated %}
                <div class="text-end">
                    <button type="button" class="btn btn-outline-dark me-2" \
                            onclick="window.location.href = '{{ url_for('login') }}'">Login
                    </button>
                    <button type="button" class="btn btn-warning"
                            onclick="window.location.href = '{{ url_for('signup') }}'">Sign-up
                    </button>
                </div>
            {% else %}
                <div class="text-end">
                    <button type="button" class="btn btn-outline-dark me-2"
                            onclick="window.location.href = '{{ url_for('logout') }}'">Logout
                    </button>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-warning me-2"
                            onclick="window.location.href = '{{ url_for('profile') }}'">Profile
                    </button>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-dark me-2"
                            onclick="window.location.href = '{{ url_for('create') }}'">Create post
                    </button>
                </div>
            {% endif %}
        </div>
        <hr>
    </div>

{% block main %}{% endblock %}

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('faq') }}" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2024 alekseykrazhev, Inc.</p>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

</body>
</html>