{% extends 'base.html' %}

{% block title %}
    Food-Camp - Food by Countries.
{% endblock %}

{% block main %}

    <div class="container">

        <div class="row justify-content-center">
            <div class="list-group col-5">
                <h1>Select a country</h1>
                <label for="searchInput1"></label>
                <input type="text" id="searchInput1" class="form-control" placeholder="Search...">
                <hr>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages" role="alert">
                    {% for message in messages %}
                        <div class="flash-message">{{ message|safe }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="row justify-content-center">
            <form id="myForm" action="{{ url_for('countries') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <ul class="list-group" id="menuItems">
                    {% for country in countries %}
                        <li class="list-group-item" onclick="sendPostRequest('{{ country.name }}')">
                            <img src="https://www.flagsapi.com/{{ country.alpha_2 }}/shiny/32.png"
                                 class="img-fluid mr-1" alt="flag">
                            {{ country.name }}</li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>

    <script>
        function sendPostRequest(name) {
            const form = document.getElementById("myForm");

            const input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "selectedItem");
            input.setAttribute("value", name);
            form.appendChild(input);

            form.submit();
        }
    </script>

    <script>
        const searchInput = document.getElementById('searchInput1');
        const menuItems = document.getElementById('menuItems').children;

        searchInput.addEventListener('input', function (event) {
            const query = event.target.value.toLowerCase();

            Array.from(menuItems).forEach(function (menuItem) {
                const text = menuItem.textContent.toLowerCase();
                if (text.includes(query)) {
                    menuItem.style.display = 'block';
                } else {
                    menuItem.style.display = 'none';
                }
            });
        });
    </script>

{% endblock %}
