{% extends 'base.html' %}

{% block import %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
{% endblock %}

{% block title %}
    Food Camp - Create post
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="mt-4">Create Food Post</h1>

        <form method="post" action="{{ url_for('create') }}" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                <label for="name">Dish name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Dish name">
            </div>
            <div class="form-group">
                <label for="short_description">A few words about this dish</label>
                <input type="text" name="short_description" class="form-control" id="short_description"
                       placeholder="Short description">
            </div>
            <div class="form-group">
                <label for="image1">Upload image</label>
                <input type="file" accept="image1/*" name="image1" class="form-control" id="image1"
                       placeholder="Upload image">
            </div>
            <div class="form-group">
                <label for="country">Where is this dish originally from</label>
                <select class="form-control" id="searchInput" name="searchInput">
                    <option value="">Select here</option>
                    {% for country in countries %}
                        <option value="{{ country.name }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="category">Select appropriate category</label>
                <select class="form-control selectpicker" id="searchInput1" name="searchInput1">
                    <option value="">Select here</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" rows="5"
                          placeholder="description"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Create Post</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $('#searchInput1').select2();
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
