<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
        }

        h1 {
            color: #e0a800;
        }

        p {
            color: #333;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Error {{ status_code }}</h1>
        <p>{{ error_message }}</p>
    </div>
    <footer>
        &copy; 2024 alekseykrazhev, Inc.
    </footer>
</body>
</html>
