{% extends 'base.html' %}

{% block import %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
{% endblock %}

{% block title %}
    Food Camp - Frequently asked questions.
{% endblock %}

{% block main %}
    <body>
    <div class="container py-5">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <div id="faqAccordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne"
                                style="text-decoration-color: black; color: black">
                            Question 1: What is the origin of sushi?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Sushi originated in Japan and has a history of over a thousand years. It is a traditional
                        Japanese dish
                        consisting of vinegared rice combined with various ingredients such as raw or cooked fish,
                        vegetables, and
                        seaweed.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo"
                                style="text-decoration-color: black; color: black">
                            Question 2: What are some popular Italian dishes?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                    <div class="card-body">
                        Italy is famous for its delicious cuisine. Some popular Italian dishes include pizza, pasta,
                        lasagna, risotto,
                        bruschetta, tiramisu, and gelato. Italian cuisine varies by region, and each region has its own
                        specialties
                        and traditional recipes.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree"
                                style="text-decoration-color: black; color: black">
                            Question 3: What are some famous street foods from around the world?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
                    <div class="card-body">
                        Street food is a popular way to experience local flavors while traveling. Some famous street
                        foods from around
                        the world include tacos from Mexico, falafel from the Middle East, samosas from India, hot dogs
                        from the United
                        States, pad thai from Thailand, and crepes from France.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour"
                                style="text-decoration-color: black; color: black">
                            Question 4: What are some traditional Chinese dishes?
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqAccordion">
                    <div class="card-body">
                        Chinese cuisine is diverse and known for its rich flavors. Some traditional Chinese dishes
                        include Peking
                        duck, Kung Pao chicken, dumplings, sweet and sour pork, Mapo tofu, and fried rice. Chinese
                        cuisine varies by
                        region, and each region has its own specialties and cooking styles.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive"
                                style="text-decoration-color: black; color: black">
                            Question 5: What are some traditional Indian desserts?
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqAccordion">
                    <div class="card-body">
                        Indian cuisine offers a wide range of delicious desserts. Some traditional Indian desserts
                        include Gulab
                        Jamun, Jalebi, Kheer, Rasgulla, Gajar ka Halwa, and Barfi. These desserts often feature
                        ingredients like
                        milk, sugar, nuts, and aromatic spices like cardamom and saffron.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
    </html>

{% endblock %}
