{% extends 'base.html' %}

{% block title %}
All Food Around the world
{% endblock %}

{% block main %}
<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for dish in dishes %}
        <div class="col">
            <div class="card shadow-sm">
            <img class="d-block h-231" height="231" src="data:image/jpeg;base64,{{ dish.image }}"
                 alt="First slide">

            <div class="card-body">
                <p class="card-text">{{ dish.name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                            onclick="window.location.href = '/food/{{ dish.id }}'">View</button>
                </div>
                <small class="text-muted">{{ dish.date }}</small>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
