{% extends 'base.html' %}

{% block import %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link rel="stylesheet" type="text/css" href="../static/css/carousel.css">
{% endblock %}

{% block title %}
    Learn more about the dish.
{% endblock %}

{% block main %}
    <main>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner" style="height: 100%;">
                <div class="carousel-item active" style="height: 100%;">
                    <img class="d-block w-100" src="data:image/jpeg;base64,{{ image }}" alt="First image">
                    <div class="carousel-caption d-none d-md-block"
                         style="background: rgba(0, 0, 0, 0.6); border-radius: 10px">
                        <div class="row align-items-center">
                            <h5>{{ dish_info.name }}</h5>
                            {% if current_user.is_authenticated %}
                                <button class="btn btn-link favorite-button" onclick="toggleFavorite(this)">
                                    {% if isFavourite %}
                                        <i class="bi bi-star-fill"></i>
                                    {% else %}
                                        <i class="bi bi-star"></i>
                                    {% endif %}
                                </button>
                            {% endif %}
                        </div>
                        <p>"{{ dish_info.short_description }}" - {{ dish_info.author }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-body">
                    <hr>
                    <p class="card-text">{{ dish_info.description|safe }}</p>
                    <hr>
                </div>
            </div>
        </div>

        {% if current_user.is_authenticated %}
            <div class="container">
                <div class="comments-section">
                    <hr>
                    <h2>Comments</h2>

                    <form id="comment-form">
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" id="comment" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                    <div id="comments-container">
                    </div>
                </div>
            </div>
        {% endif %}
    </main>

    <script>
        function submitComment(event) {
            event.preventDefault();

            var comment = document.getElementById("comment").value;

            document.getElementById("comment").value = "";

            var commentElement = document.createElement("div");
            commentElement.innerHTML = "<strong>" + "alekseykrazhev" + ":</strong> " + comment;
            document.getElementById("comments-container").appendChild(commentElement);
        }

        document.getElementById("comment-form").addEventListener("submit", submitComment);
    </script>

    <script>
        var csrf_token = "{{ csrf_token() }}";

        function toggleFavorite(button) {
            button.classList.toggle('active');
            const starIcon = button.querySelector('i');
            starIcon.classList.toggle('bi-star');
            starIcon.classList.toggle('bi-star-fill');

            const isFavorite = starIcon.classList.contains('bi-star-fill');
            const dishId = '{{ dish_info.name }}';

            const data = {favorite: isFavorite,
                          id: dishId};

            fetch('{{ url_for('favourites') }}', {
                method: 'POST',
                headers: {'Content-Type': 'application/json',
                          'X-CSRFToken': csrf_token},
                body: JSON.stringify(data)
            })
                .then(response => {
                    console.log('Added to favourites');
                })
                .catch(error => {
                    console.error('Error sending POST request:', error);
                });
        }

    </script>
{% endblock %}