{% extends 'base.html' %}

{% block title %}
{{ current_user.username }} profile
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="data:image/jpeg;base64,{{ image }}" class="card-img-top"
                         alt="Profile Picture">
                    <div class="card-body">
                        <h5 class="card-title">{{ current_user.username }}</h5>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#editProfileModal">Edit Profile</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">About Me</h5>
                        <p class="card-text">{{ user.about_me }}</p>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Your posts</h5>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 card-body">
                            {% for dish in dishes %}
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img class="d-block h-180" src="data:image/jpeg;base64,{{ dish.image }}" alt="First slide" height="180">

                                        <div class="card-body">
                                            <p class="card-text">{{ dish.name }}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                                            onclick="window.location.href =
                                                                    '{{ url_for('food') }}/{{ dish.id }}'">View</button>
                                                </div>
                                                <small class="text-muted">{{ dish.date }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('profile') }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group">
                            <label for="image">Upload profile image:</label>
                            <input type="file" accept="image/*" class="form-control-file" id="image" name="image">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Enter your username">
                        </div>
                        <div class="form-group">
                            <label for="bio">About Me</label>
                            <textarea class="form-control" id="about_me" name="about_me" rows="4"
                                      placeholder="Enter a short bio"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{{ url_for('profile') }}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}