<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/icon/icon.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/signin.css') }}">
</head>

<body class="text-center">
<main class="form-signin w-100 m-auto">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages" role="alert">
                {% for message in messages %}
                    <div class="flash-message">{{ message|safe }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('signup') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <h1 class="h3 mb-3 fw-normal">Please, sign up</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                   placeholder="Confirm password">
            <label for="confirm_password">Confirm Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>
</main>
</body>

</html>